name: CI

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
    types:
      - opened
      - reopened
      - synchronize
      - labeled
  workflow_dispatch:

env:
  CHART_DIR: "charts/activiti-cloud-full-example"

jobs:

  pre-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Check dependabot build
        uses: Activiti/Activiti/.github/actions/check-ext-build@4db084fcbb13a288f3b66ac08fc50a5ab7f144ed # 8.0.0-alpha.10
      - name: Setup Helm Docs
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
      - name: Setup kubepug
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-kubepug@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@e1bb78184f5dd3690fb1089d6c4f51295f9dff48 # v12.1839.0
        with:
          framework: kubernetes
      - name: pre-commit
        uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
        with:
          skip_checkout: true
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@b1b635d24259e8a047a6ce7d6501ea432aa7a830 # v3.0.2

  build:
    runs-on: ubuntu-latest
    needs: pre-checks
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Build
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-build-chart@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
        with:
          chart-dir: ${{ env.CHART_DIR }}

      - uses: Alfresco/alfresco-build-tools/.github/actions/resolve-preview-name@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
        id: resolve-preview

      - name: Setup Cluster
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-kind@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0

      - name: Compute Keycloak Client Secret
        id: compute-keycloak-secret
        shell: bash
        run: echo "result=$(uuidgen)" >> $GITHUB_OUTPUT

      - name: Execute helm upgrade dry-run
        env:
          CHART_DIR: ${{ env.CHART_DIR }}
          NAMESPACE: ${{ steps.resolve-preview.outputs.preview-name }}
          DOMAIN: "example"
          KEYCLOAK_SECRET: ${{ steps.compute-keycloak-secret.outputs.result }}
        shell: bash
        run: |
          NAMESPACE_LOWERCASE=$(echo ${NAMESPACE} | tr "[:upper:]" "[:lower:]")
          helm upgrade $NAMESPACE_LOWERCASE $CHART_DIR \
            --install \
            --set global.gateway.domain=$DOMAIN \
            --set global.keycloak.clientSecret=$KEYCLOAK_SECRET \
            --namespace $NAMESPACE_LOWERCASE \
            --wait \
            --dry-run

  parse-next-release:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    outputs:
      next-release: ${{ steps.parse-next-release.outputs.next-release }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Parse next release
        id: parse-next-release
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-parse-next-release@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
        with:
          chart-dir: ${{ env.CHART_DIR }}

  publish:
    needs: parse-next-release
    if: github.event_name == 'push'
    uses: Alfresco/alfresco-build-tools/.github/workflows/helm-publish-new-package-version.yml@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
    with:
      next-version: ${{ needs.parse-next-release.outputs.next-release }}
      chart-dir: charts/activiti-cloud-full-example
      helm-charts-repo: Activiti/activiti-cloud-helm-charts
      helm-charts-repo-branch: gh-pages
    secrets: inherit

  promote:
    if: github.event_name == 'push'
    needs:
      - publish
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.publish.outputs.version }}
      DEVELOPMENT_BRANCH: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - run: echo ACTIVITI_CLOUD_APPLICATION_VERSION=`yq .runtime-bundle.image.tag charts/activiti-cloud-full-example/values.yaml` >> $GITHUB_ENV
      - uses: Alfresco/alfresco-build-tools/.github/actions/jx-updatebot-pr@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
        env:
          GH_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
        with:
          version: ${{ env.VERSION }}
          auto-merge: 'true'
          labels: ${{ env.DEVELOPMENT_BRANCH }}
          base-branch-name: ${{ env.DEVELOPMENT_BRANCH }}
          git-username: ${{ secrets.BOT_GITHUB_USERNAME }}
          git-token: ${{ secrets.BOT_GITHUB_TOKEN }}
          git-author-name: ${{ secrets.BOT_GITHUB_USERNAME }}

  notify:
    runs-on: ubuntu-latest
    needs:
      - build
      - publish
      - promote
    if: always() && failure() && github.event_name == 'push'
    steps:
      - name: Slack Notification
        uses: Alfresco/alfresco-build-tools/.github/actions/send-slack-notification@b88340ccab0e8f2351eb1e056235f5671cfc5aab # v5.6.0
        with:
          channel-id: 'eng-hxp-studio-activiti-gh-notifs'
          token: ${{ secrets.SLACK_NOTIFICATION_BOT_TOKEN }}
